<div class="explanation">
  <h1>To the person in charge of entering names for the drawing:</h1>
  <p>The form is sensitive <em>(It's young and going through an emo phase)</em> to the way you type in the names–if you do not follow the correct format, things will be <em>fucked up</em>, you'll have <em>ruined everything</em>, and your high school guidance counselor will be proven correct about you <em>amounting to nothing</em>.</p>
  <em><p>(Not really. But seriously–following the directions, please.)</p></em>
  <!-- I've been told that the br tag should not be used–but I don't really give a fuck. -->
  <br>
  <br>
  <br>
  <br>
  <ol>
  <li>All names <em>MUST BE SPELLED CORRECTLY</em>. The app is interacting with a database on the backend and if you spell things incorrectly, you'll confuse it. That's bad.</li>
  <br>
  <br>
  <li>BECAUSE the app is working from a database on the backend, if you've got a pairing (2 writers for one show, etc.) only enter a name for one of the group–not both. <em>(Pick the one you intend to hit on at the afterparty</em>.)</li>
  <br>
  <br>
  <li>All names must be separated by a comma and a space–as in, ", ". If you don't do that correctly, the app will not be able to parse the names correctly and–again–you'll confuse it.</li>
  <br>
  <br>
  <li>The final name in each list should <em>NOT</em> have a comma or space.</li>
  </ol>
  <br>
  <br>
  <br>
  <br>
  <h3>If you've read all of these directions and understand them <em>(Or have an adult standing by)</em>, click the button below to get started!</h3>
  <br>
  <br>
  <a class="btn btn-default" href="/form">Continue!</a>
</div>