<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styling.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <title></title>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
<script type="text/javascript" source="/js/bootstrap.min.js"></script>
<footer><i class="fa fa-copyright"></i><a href="http://wiliajc87.github.io/">Jordy Williams</a></footer>
<script src="//code.jquery.com/jquery-latest.js"></script>
</body>
</html>